In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("db_files/data_pasport.csv")

/tmp/ipykernel_17942/1314511030.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("db_files/data_pasport.csv")

In [3]:
df['PASSP_SERIES'] = pd.to_numeric(df['PASSP_SERIES'], errors="coerce")

In [4]:
df['PASSP_NUMBER'] = pd.to_numeric(df['PASSP_NUMBER'], errors="coerce")

In [5]:
df.dropna()

           PASSP_SERIES  PASSP_NUMBER
0                4621.0      501925.0
1                4621.0      492766.0
2                4621.0      491058.0
3                4621.0      492756.0
4                4621.0      440269.0
...                 ...           ...
149773443        4022.0      387987.0
149773444        4022.0      350652.0
149773445        7022.0      147487.0
149773446        6023.0      216384.0
149773447        6023.0      156516.0

[149763473 rows x 2 columns]

In [21]:
res_filter = df[
            (df['PASSP_SERIES'] == 1) &
            (df['PASSP_NUMBER'] == 239433)
            ]

In [22]:
len(res_filter['PASSP_NUMBER'])

0

In [25]:
n = "ЈРґР°СЂС†РµРІ РЎС‚Р°РЅРёСЃР»Р°РІ Р®СЂСЊРµРІРёС‡"

AttributeError: 'str' object has no attribute 'decode'

In [24]:
n

b'\xd0\x88\xd0\xa0\xd2\x91\xd0\xa0\xc2\xb0\xd0\xa1\xd0\x82\xd0\xa1\xe2\x80\xa0\xd0\xa0\xc2\xb5\xd0\xa0\xd0\x86 \xd0\xa0\xd0\x8e\xd0\xa1\xe2\x80\x9a\xd0\xa0\xc2\xb0\xd0\xa0\xd0\x85\xd0\xa0\xd1\x91\xd0\xa1\xd0\x83\xd0\xa0\xc2\xbb\xd0\xa0\xc2\xb0\xd0\xa0\xd0\x86 \xd0\xa0\xc2\xae\xd0\xa1\xd0\x82\xd0\xa1\xd0\x8a\xd0\xa0\xc2\xb5\xd0\xa0\xd0\x86\xd0\xa0\xd1\x91\xd0\xa1\xe2\x80\xa1'